// font family
// --------------------
$gothic: roboto, arial, "Helvetica Neue", helvetica, "Hiragino Sans",
  "ヒラギノ角ゴシック", yugothic, "Yu Gothic", "メイリオ", meiryo,
  "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

// font weight
// --------------------
$thin: 100;
$light: 200;
$demilight: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// colors
// --------------------
$black: #000;
$white: #fff;
$text-color: #333;
