{
  "*.{js,ts}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{css,scss}": [
    "stylelint --fix --allow-empty-input",
    "prettier --write"
  ],
  "*.json": [
    "prettier --write"
  ],
}
